body {
    background: #140121;
    font-family: 'Syne Mono', monospace; 
}
  
.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    animation: flicker 4s infinite;
}
  
.glitch {
  color: #dcdfe4f6;
  text-shadow: -2px -1px 1px purple, 1px 1px 2px lime;
  user-select: none;
  position: relative;
  font-size: 3vw;
  animation: glitch 4s infinite;
}

@keyframes glitch {
  1%{
    transform: rotateX(21deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
    filter: invert(1);
  }
  5%{
    filter: invert(0);
  }
}

@keyframes flicker {
  1%{
    background: white;
  }
  2%{
    background: initial;
  }
  3%{
    background: rgba(255, 255, 255, 0.5);
  }
  4%{
    background: initial;
  }
}

  