body {
    background: #140121;
    font-family: monospace;
}
  
.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}
  
.glitch {
  color: #dcdfe4;
  text-shadow: -2px 0 purple;
  position: relative;
  font-size: 4vw;
  animation: glitch 4s 5s infinite;
}

@keyframes glitch {
  1%{
    transform: rotateX(21deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

  